.add-cart{
    @include center(column);
}

.cart-counter {
    display: flex;
    justify-content: space-between;
    width: 300px;

    button {
        width: 50px;
    }
}

.fa-star.checked {
    color: orange;
}